/* statuses */
div.reservation-status{
	position: relative;
	margin-left:12px;
	font-weight:bold;
}
div.plaats.plaats-view-tiny div.reservation-status{ margin-left: 3px;}

div.reservation-status .pending{ color:blue;}
div.reservation-status .accept{color:violet;}

div.reservation-status .reject,
div.reservation-status .not_available{ color:red;}

div.reservation-status .available,
div.reservation-status .free{ color:green; }


/* count child result */
div.reservation-status-count-child{
	position: relative;
	margin-left:12px;
	color: #1E90FF;
}
div.plaats.plaats-view-tiny div.reservation-status-count-child{ margin-left: 3px; width: auto;}
div.reservation-status-count-child em{}


/* make reservation link */
div.plaats a.plaats-reservation-link{
	display: block;
	margin-left:12px;
}
div.plaats.plaats-view-tiny a.plaats-reservation-link{ margin-left: 3px;}

/* check reservation page */
div.plaats-reservation .operations{
	text-align: right;
	font-size:14px;
}
div.plaats-reservation h2{
	font-weight: bold;
	margin: 3px 0;
	font-size: 130%;
}
div.plaats-reservation .reservation-status{
	margin-left: 0;
}
/* message */
div.block-plaats-reservation{
	border: 1px solid #BBEE77;
	background: #F8FFF0;
	padding: 0 12px;
}
/* user form */
#plaats-reservation-dialog{
	width:100%;
	height:auto;
}
#plaats-reservation-form{
	position: relative;
	width: 280px;
	margin:0 auto;
	padding: 8px;
}
#plaats-reservation-form .messages{
	margin: 0;
}
#plaats-reservation-form .form-actions input{
	width:93%;
}
div.success-message{}
