#calendar-block {
  position:relative;
  line-height: 100%;
  width: 173px;
  background-color: #FFFFFF;
  border: 1px solid #A5A5A5;
  color: #494949;
  float: left;
}

#nav {
  text-align: center;
}

#nav div {
  float: left;
}

#calendar_prev, #calendar_next {
  width: 15%;
  height: 20px;
  cursor: pointer;
  padding-top: 4px;
}

#calendar_header {
  width: 70%;
  margin-top: 4px;
}

.hok {
  padding: 0px;
  width: 14%;
  height: 18px;
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  position: relative;
  padding-top: 7px;
}

.hok span {
  display: block;
}

.hok.first, .hok.last {
  width: 15%;
}

.hok.top {
  font-size: 9px;
  height: 12px;
  line-height: 100%;
  padding: 0px;
}

.hok.disabled span {
  -moz-opacity: .50;
  filter: alpha(opacity=50);
  opacity: .50; 
}

#calendar_row0 .hok span {
  margin-top: 0px;
}

#calendar_row6 .hok {
  height: 17px;
}

#calendar_row0 {
  height: 37px;
}

#calendar_row1 .hok {}
#calendar_row2 .hok {}
#calendar_row3 .hok {}
#calendar_row4 .hok {}
#calendar_row5 .hok {}
#calendar_row6 .hok {}
#calendar_row1 .hok.disabled {}
#calendar_row5 .hok.disabled, #calendar_row6 .hok.disabled {}

#calendar_row1 .hok.today,
#calendar_row2 .hok.today,
#calendar_row3 .hok.today,
#calendar_row4 .hok.today,
#calendar_row5 .hok.today,
#calendar_row6 .hok.today {
  background-color: #7cbfff;
  color:#fff;
  border-radius: 3px;
}
#calendar_row1 .hok.selected-day,
#calendar_row2 .hok.selected-day,
#calendar_row3 .hok.selected-day,
#calendar_row4 .hok.selected-day,
#calendar_row5 .hok.selected-day,
#calendar_row6 .hok.selected-day {
	border:0.1em solid blue;
	border-radius: 3px;
	width: 12%;
  	height: 16px;
}
.hok .border_right, .hok .border_bottom {
  position: absolute;
  background-color: black;
  right: 0px;
  -moz-opacity: .10;
  filter: alpha(opacity=10);
  opacity: .10; 
}

.hok .border_right {
  width: 1px;
  height: 100%;
  top: 0px;
}

.hok .border_bottom {
  bottom: 0px;
  width: 100%;
  height: 1px;
  overflow: hidden;
}

.last .border_bottom {
  display: none;
}

.last .last .border_bottom {
  display: block;
}

.calendar-link: visited {
  text-decoration: underline;
}

.week .clear-block {
  height: 0px;
  clear: both;
  overflow: hidden;
}
